 <div id='container'>
  <div class="registration">
          <input id='input1' type="text" name="player1" placeholder="Player1">

          <input id='input2' type="text" name="player2" placeholder="Player2">

          <button id='button' type="submit">Start!</button>
      </div>

</div>
